:root {
  --colorOne: #ffffff;
  --colorTwo: #fcfdff;
  --colorThree: #ebecf5;
  --colorFour: #000000;
  --colorFive: #050505;
  --colorSix: #1a1a1a;
  --colorSeven: #27ad75;
  --colorEight: #ffc300;
  --colorNine: #0a0b0d;
  --colorTen: #3c3d3d;
  --colorEleven: #2d2d2e;
  --colorTwelve: #f13c54;
  --colorThirteen: #ff0000;
  --colorFourteen: #37a42d;
  --colorFifteen: #f85814;
  --font-family-base: "HarmonyOS Sans", sans-serif;
  --font-family-accent: "Inter", sans-serif; }

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("/fonts/HarmonyOS_Sans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

body {
  background-color: var(--colorTen); }

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-height: 64px;
  width: 100%;
  max-width: 1440px;
  align-items: center; }
  .header__left {
    display: flex;
    font-family: var(--font-family-base);
    align-items: center; }
    .header__left__logo {
      height: auto;
      max-width: 7vw;
      margin-right: 24px;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (max-width: 375px) {
        .header__left__logo {
          min-width: 69px;
          min-height: 17px; } }
      @media (min-width: 375px) {
        .header__left__logo {
          min-width: 69px;
          min-height: 17px; } }
    .header__left__menu {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.9rem;
      color: var(--colorTwo);
      transition: color;
      cursor: pointer;
      white-space: nowrap; }
      .header__left__menu--sp {
        margin-right: 24px; }
      .header__left__menu--sp:hover {
        color: var(--colorEight); }
      .header__left__menu .dropbtn {
        background-color: var(--colorFour);
        color: var(--colorTwo);
        font-size: 0.9rem;
        border: none; }
        .header__left__menu .dropbtn:hover {
          color: var(--colorEight); }
      .header__left__menu .dropdown {
        position: relative;
        display: inline-block;
        font-family: var(--font-family-base); }
        .header__left__menu .dropdown:hover .dropdown-content {
          opacity: 1;
          visibility: visible;
          transition-delay: 0s; }
      .header__left__menu .dropdown-content {
        display: block;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 205%;
        left: 5%;
        background-color: var(--colorTwo);
        font-family: var(--font-family-base);
        min-width: 360px;
        min-height: 271px;
        z-index: 1;
        border-radius: 3%;
        transition: background-color, opacity 0.3s ease, visibility 0s linear 2.3s; }
        .header__left__menu .dropdown-content .dropdown-item {
          position: relative;
          padding-left: 70px; }
          .header__left__menu .dropdown-content .dropdown-item::after {
            content: "";
            position: absolute;
            top: 25%;
            left: 7%;
            aspect-ratio: 1;
            min-width: 24px;
            z-index: 4;
            background: url("/icons/icon1.png") center/contain no-repeat; }
          .header__left__menu .dropdown-content .dropdown-item:hover {
            color: var(--colorEight); }
          .header__left__menu .dropdown-content .dropdown-item:nth-child(2)::after {
            background: url("/icons/icon2.png") center/contain no-repeat; }
          .header__left__menu .dropdown-content .dropdown-item:nth-child(3)::after {
            background: url("/icons/icon3.png") center/contain no-repeat; }
        .header__left__menu .dropdown-content-text {
          color: grey;
          font-size: 0.8rem;
          font-family: var(--font-family-base); }
      .header__left__menu .dropbtn::after {
        content: "";
        position: absolute;
        top: 30%;
        left: 100%;
        aspect-ratio: 1;
        min-width: 10px;
        z-index: 5;
        background: url("/icons/vector.png") center/contain no-repeat; }
      .header__left__menu .dropbtn:hover::after {
        content: "";
        position: absolute;
        top: 30%;
        left: 100%;
        aspect-ratio: 1;
        min-width: 10px;
        z-index: 5;
        transform: rotate(180deg);
        background: url("/icons/vector2.png") center/contain no-repeat; }
      .header__left__menu .dropdown-content a {
        position: relative;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block; }
      .header__left__menu .dropdown-content a:hover {
        background-color: #f1f1f1; }
      .header__left__menu .dropdown:hover .dropdown-content {
        display: block; }
      @media (max-width: 928px) {
        .header__left__menu {
          display: none; } }
  .header__right {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    font-family: var(--font-family-base);
    align-items: flex-start; }
    .header__right__login {
      color: var(--colorOne);
      font-size: 0.9rem;
      white-space: nowrap;
      transform: color;
      cursor: pointer; }
      .header__right__login:hover {
        color: var(--colorEight); }
      @media (max-width: 439px) {
        .header__right__login {
          display: none; } }
    .header__right__button {
      white-space: nowrap;
      font-size: 0.9rem;
      border-radius: 6px;
      min-width: 126px;
      min-height: 28px;
      background-color: var(--colorEight);
      transform: background-color; }
      .header__right__button:hover {
        background-color: var(--colorFive);
        border: 1px solid var(--colorEight);
        color: var(--colorEight); }
      @media (max-width: 439px) {
        .header__right__button {
          display: none; } }
    .header__right__iconEarth {
      min-width: 24px;
      min-height: 24px;
      transition: transform 0.3 ease; }
      @media (max-width: 463px) {
        .header__right__iconEarth {
          min-width: 15px;
          min-height: 15px;
          transition: transform 0.3 ease; } }
      .header__right__iconEarth:hover {
        padding-top: 1px;
        transform: scale(1.2); }
    .header__right__iconSun {
      min-width: 24px;
      min-height: 24px;
      transition: transform 0.3 ease; }
      @media (max-width: 463px) {
        .header__right__iconSun {
          min-width: 15px;
          min-height: 15px;
          transition: transform 0.3 ease; } }
      .header__right__iconSun:hover {
        padding-top: 1px;
        transform: scale(1.2); }
  .header__displayNone {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
    color: var(--colorTwo);
    transition: color;
    cursor: pointer;
    white-space: nowrap; }
    .header__displayNone__menu {
      margin-right: 24px; }
    .header__displayNone__menu:hover {
      color: var(--colorEight); }
    .header__displayNone .dropbtns__displayNone {
      background-color: var(--colorFour);
      color: var(--colorTwo);
      font-size: 0.9rem;
      border: none; }
      .header__displayNone .dropbtns__displayNone:hover {
        color: var(--colorEight); }
    .header__displayNone .dropdowns__displayNone {
      position: relative;
      display: inline-block;
      font-family: var(--font-family-base); }
      .header__displayNone .dropdowns__displayNone:hover .dropdowns-content__displayNone {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s; }
    .header__displayNone .dropdowns-content__displayNone {
      display: block;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 105%;
      left: 5%;
      background-color: var(--colorTwo);
      font-family: var(--font-family-base);
      min-width: 360px;
      min-height: 271px;
      z-index: 1;
      border-radius: 3%;
      transition: background-color, opacity 0.3s ease, visibility 0s linear 2.3s; }
      @media (max-width: 700px) {
        .header__displayNone .dropdowns-content__displayNone {
          min-width: 160px;
          width: auto;
          max-height: none;
          left: 0; } }
      .header__displayNone .dropdowns-content__displayNone .dropdowns-item__displayNone {
        position: relative;
        padding-left: 70px; }
        .header__displayNone .dropdowns-content__displayNone .dropdowns-item__displayNone::after {
          content: "";
          position: absolute;
          top: 25%;
          left: 7%;
          aspect-ratio: 1;
          min-width: 24px;
          z-index: 4;
          background: url("/icons/icon1.png") center/contain no-repeat; }
        .header__displayNone .dropdowns-content__displayNone .dropdowns-item__displayNone:hover {
          color: var(--colorEight); }
        .header__displayNone .dropdowns-content__displayNone .dropdowns-item__displayNone:nth-child(2)::after {
          background: url("/icons/icon2.png") center/contain no-repeat; }
        .header__displayNone .dropdowns-content__displayNone .dropdowns-item__displayNone:nth-child(3)::after {
          background: url("/icons/icon3.png") center/contain no-repeat; }
      .header__displayNone .dropdowns-content__displayNone-text {
        color: grey;
        font-size: 0.8rem;
        font-family: var(--font-family-base); }
    .header__displayNone .dropbtn::after {
      content: "";
      position: absolute;
      top: 30%;
      left: 100%;
      aspect-ratio: 1;
      min-width: 10px;
      z-index: 5;
      background: url("/icons/vector.png") center/contain no-repeat; }
    .header__displayNone .dropbtns__displayNone:hover::after {
      content: "";
      position: absolute;
      top: 30%;
      left: 100%;
      aspect-ratio: 1;
      min-width: 10px;
      z-index: 5;
      transform: rotate(180deg);
      background: url("/icons/vector2.png") center/contain no-repeat; }
    .header__displayNone .dropdowns-content__displayNone a {
      position: relative;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block; }
    .header__displayNone .dropdowns-content__displayNone a:hover {
      background-color: #f1f1f1; }
    .header__displayNone .dropdowns__displayNone:hover .dropdowns-content__displayNone {
      display: block; }
    @media (min-width: 927px) {
      .header__displayNone {
        display: none; } }
.main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-height: 380px;
  width: 100%;
  max-width: 1440px; }
  .main__left {
    order: 1; }
    .main__left__word {
      order: 1;
      color: var(--colorOne);
      font-family: var(--font-family-base);
      font-size: 3rem;
      padding-left: 60px;
      padding-top: 170px; }
      @media (max-width: 768px) {
        .main__left__word {
          order: 2;
          padding-top: 30px;
          padding-left: 20px;
          font-size: 2rem; } }
      @media (max-width: 375px) {
        .main__left__word {
          order: 2;
          padding-top: 30px;
          padding-left: 20px;
          font-size: 1.5rem; } }
    .main__left__but {
      min-width: 336px;
      min-height: 56px;
      font-family: var(--font-family-base);
      font-size: 0.9rem;
      margin-left: 20px; }
      @media (max-width: 375px) {
        .main__left__but {
          min-width: 250px;
          min-height: 46px;
          font-family: var(--font-family-base);
          font-size: 0.9rem;
          margin-left: 50px; } }
      @media (max-width: 700px) {
        .main__left__but {
          margin-left: 80px; } }
      @media (min-width: 375px) {
        .main__left__but {
          margin-left: 20px; } }
      .main__left__but:hover {
        border: 2px solid var(--colorEight);
        color: var(--colorEight);
        background-color: var(--colorFive); }
      .main__left__but-sign {
        background-color: var(--colorEight);
        min-width: 336px;
        min-height: 56px;
        font-family: var(--font-family-base);
        font-size: 0.9rem;
        margin-left: 20px; }
        @media (max-width: 375px) {
          .main__left__but-sign {
            min-width: 250px;
            min-height: 46px;
            font-family: var(--font-family-base);
            font-size: 0.9rem;
            margin-left: 50px; } }
        @media (max-width: 700px) {
          .main__left__but-sign {
            margin-left: 80px; } }
        @media (min-width: 375px) {
          .main__left__but-sign {
            margin-left: 20px; } }
        .main__left__but-sign:hover {
          border: 2px solid var(--colorEight);
          color: var(--colorEight);
          background-color: var(--colorFive); }
  .main__right {
    order: 2;
    position: relative; }
    .main__right__computer {
      display: flex;
      position: relative;
      top: 45%;
      left: 60%;
      min-width: 337px;
      height: auto; }
      @media (max-width: 768px) {
        .main__right__computer {
          position: relative;
          top: 15%;
          left: 0%; } }
      @media (max-width: 700px) {
        .main__right__computer {
          position: relative;
          top: 15%;
          left: 10%; } }
      @media (max-width: 672px) {
        .main__right__computer {
          position: relative;
          top: 15%;
          left: 0%; } }
  .main__ticker {
    order: 3;
    flex: 0 0 100%;
    position: relative;
    margin-top: 10%;
    max-height: 25px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--colorEight);
    border: 1px solid var(--colorEight); }
    @media (max-width: 768px) {
      .main__ticker {
        position: relative;
        margin-top: 20%; } }
    @media (max-width: 1090px) {
      .main__ticker {
        position: relative;
        margin-top: 20%; } }
    .main__ticker__container {
      display: inline-block;
      padding-left: 100%;
      animation: ticker 10s linear infinite; }
      .main__ticker__container__item {
        display: inline-block;
        margin-right: 50px;
        color: var(--colorFive); }

@keyframes ticker {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }
  .main__grid {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    order: 4;
    margin-left: 10%;
    margin-top: 5%;
    gap: 5px 5px; }
    @media (max-width: 1168px) {
      .main__grid {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 788px) {
      .main__grid {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 4%; } }
    .main__grid__item {
      display: flex;
      flex-direction: column;
      position: relative;
      min-width: 346px;
      min-height: 151px;
      color: var(--colorOne);
      background-color: var(--colorNine);
      border: 1px solid var(--colorEleven);
      border-radius: 20px;
      font-family: var(--font-family-base);
      padding-left: 20px;
      padding-top: 40px;
      font-size: 0.9rem;
      transform: color;
      cursor: pointer;
      text-decoration: none; }
      .main__grid__item:hover {
        color: var(--colorEight); }
      .main__grid__item:hover .main__grid__item__foto {
        transform: scale(1.2); }
      .main__grid__item-text {
        color: grey;
        font-size: 0.8rem;
        font-family: var(--font-family-base); }
      .main__grid__item__foto {
        position: absolute;
        top: 5%;
        left: 65%;
        transition: transform 0.3s ease; }
