:root {
  --colorOne: #ffffff;
  --colorTwo: #fcfdff;
  --colorThree: #ebecf5;
  --colorFour: #000000;
  --colorFive: #050505;
  --colorSix: #1a1a1a;
  --colorSeven: #27ad75;
  --colorEight: #ffc300;
  --colorNine: #0a0b0d;
  --colorTen: #3c3d3d;
  --colorEleven: #2d2d2e;
  --colorTwelve: #f13c54;
  --colorThirteen: #ff0000;
  --colorFourteen: #37a42d;
  --colorFifteen: #f85814;
  --font-family-base: "HarmonyOS Sans", sans-serif;
  --font-family-accent: "Inter", sans-serif;
}
@font-face {
  font-family: "HarmonyOS Sans";
  src: url("./fonts/HarmonyOS_Sans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--colorFive );

  @media (min-width: 1441px) {
    background-color: var(--colorFive);
  }

  .page-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-height: 64px;
    width: 100%;
    align-items: center;


    &__left {
      display: flex;
      font-family: var(--font-family-base);
      align-items: center;

      &__logo {
        height: auto;
        max-width: 7vw;
        margin-right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 375px) {
          min-width: 69px;
          min-height: 17px;
        }
        @media (min-width: 375px) {
          min-width: 69px;
          min-height: 17px;
        }
      }
        
      &__menu {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.9rem;
        color: var(--colorTwo);
        transition: color;
        cursor: pointer;
        white-space: nowrap;

        &--sp {
          margin-right: 24px;
        }
        
        &--sp:hover {
          color: var(--colorEight);
        }

        .dropbtn {
          background-color: var(--colorFour);
          color: var(--colorTwo);
          font-size: 0.9rem;
          border: none;

          &:hover {
            color: var(--colorEight);
          }
        }
        .dropdown {
          position: relative;
          display: inline-block;
          font-family: var(--font-family-base);

          &:hover .dropdown-content {
            opacity: 1;
            visibility: visible;
            transition-delay: 0s;
          }
        }
      
        .dropdown-content {
          display: block;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 205%;
          left: 5%;
          background-color: var(--colorTwo);
          font-family: var(--font-family-base);
          min-width: 360px;
          min-height: 271px;
          z-index: 1;
          border-radius: 3%;
          transition: background-color, opacity 0.3s ease, visibility 0s linear 2.3s;

          .dropdown-item {
            position: relative;
            padding-left: 70px;
            &::after {
              content: "";
              position: absolute;
              top: 25%;
              left: 7%;
              aspect-ratio: 1;
              min-width: 24px;
              z-index: 4;
              background: url('../icons/icon1.png') center/contain no-repeat;
            }
            &:hover {
              color: var(--colorEight);
            }

            &:nth-child(2)::after {
              background: url('../icons/icon2.png') center/contain no-repeat;
            }
            
            &:nth-child(3)::after {
              background: url('../icons/icon3.png') center/contain no-repeat;
            }
          }
          &-text {
            color:var(--colorTen); 
            font-size: 0.8rem;
            font-family: var(--font-family-base);
          }
        }
        .dropbtn::after {
          content: "";
          position: absolute;
          top: 30%;
          left: 100%;
          aspect-ratio: 1;
          min-width: 10px;
          z-index: 5;
          background: url('../icons/vector.png') center/contain no-repeat;
        }

        .dropbtn:hover::after {
          content: "";
          position: absolute;
          top: 30%;
          left: 100%;
          aspect-ratio: 1;
          min-width: 10px;
          z-index: 5;
          transform: rotate(180deg);
          background: url('../icons/vector2.png') center/contain no-repeat;
        }

        .dropdown-content a {
          position: relative;
          color: var(--colorFive);
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropdown-content a:hover {
          background-color: #f1f1f1
        }
      
        .dropdown:hover .dropdown-content {
          display: block;
        }

      @media (max-width: 928px) {
        display: none;
      }   
    }

    }
    &__right {
      display: flex;
      gap: 20px;

      justify-content: flex-end;
      font-family: var(--font-family-base);
      align-items:flex-start;


      &__login {
        color: var(--colorOne);
        font-size: 0.9rem;
        white-space: nowrap;
        transition: color;
        cursor: pointer;

        &:hover {
          color: var(--colorEight);
        }

        @media (max-width: 439px) {
          display: none;
        }
      }

      &__button {
        white-space: nowrap;
        font-size: 0.9rem;
        border-radius: 6px;
        min-width: 126px;
        min-height: 28px;
        background-color: var(--colorEight);
        transform: background-color;

        &:hover {
          background-color: var(--colorFive);
          border: 1px solid var(--colorEight);
          color: var(--colorEight);
        }

        @media (max-width: 439px) {
          display: none;
        }
      }

      &__iconEarth {
        min-width: 24px;
        min-height: 24px;
        transition: transform 0.3 ease;

        @media (max-width: 463px) {
          min-width: 15px;
          min-height: 15px;
          transition: transform 0.3 ease;
        }

        &:hover {
          padding-top: 1px;
          transform: scale(1.2);
        }
      }

      &__iconSun {
        min-width: 24px;
        min-height: 24px;
        transition: transform 0.3 ease;

        @media (max-width: 463px) {
          min-width: 15px;
          min-height: 15px;
          transition: transform 0.3 ease;
        }

        &:hover {
          padding-top: 1px;
          transform: scale(1.2);
        }
      }
    }
    &__displayNone {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.9rem;
      color: var(--colorTwo);
      transition: color;
      cursor: pointer;
      white-space: nowrap;

      &__menu {
        margin-right: 24px;
      }
      
      &__menu:hover {
        color: var(--colorEight);
      }

      .dropbtns__displayNone {
        background-color: var(--colorFour);
        color: var(--colorTwo);
        font-size: 0.9rem;
        border: none;

        &:hover {
          color: var(--colorEight);
        }
      }
    
      .dropdowns__displayNone {
        position: relative;
        display: inline-block;
        font-family: var(--font-family-base);

        &:hover .dropdowns-content__displayNone {
          opacity: 1;
          visibility: visible;
          transition-delay: 0s;
        }
      }
    
      .dropdowns-content__displayNone {
        display: block;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 105%;
        left: 5%;
        background-color: var(--colorTwo);
        font-family: var(--font-family-base);
        min-width: 360px;
        min-height: 271px;
        z-index: 1;
        border-radius: 3%;
        transition: background-color, opacity 0.3s ease, visibility 0s linear 2.3s;

        @media (max-width: 700px) {
          min-width: 160px;
          width: auto;
          max-height: none;
          left: 0;
        }

        .dropdowns-item__displayNone {
          position: relative;
          padding-left: 70px;
          &::after {
            content: "";
            position: absolute;
            top: 25%;
            left: 7%;
            aspect-ratio: 1;
            min-width: 24px;
            z-index: 4;
            background: url('../icons/icon1.png') center/contain no-repeat;
          }
          &:hover {
            color: var(--colorEight);
          }

          &:nth-child(2)::after {
            background: url('../icons/icon2.png') center/contain no-repeat;
          }
          
          &:nth-child(3)::after {
            background: url('../icons/icon3.png') center/contain no-repeat;
          }
        }
        &-text {
          color:grey; 
          font-size: 0.8rem;
          font-family: var(--font-family-base);
        }
      }
      .dropbtn::after {
        content: "";
        position: absolute;
        top: 30%;
        left: 100%;
        aspect-ratio: 1;
        min-width: 10px;
        z-index: 5;
        background: url('../icons/vector.png') center/contain no-repeat;
      }

      .dropbtns__displayNone:hover::after {
        content: "";
        position: absolute;
        top: 30%;
        left: 100%;
        aspect-ratio: 1;
        min-width: 10px;
        z-index: 5;
        transform: rotate(180deg);
        background: url('../icons/vector2.png') center/contain no-repeat;
      }

      .dropdowns-content__displayNone a {
        position: relative;
        color: var(--colorFive);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdowns-content__displayNone a:hover {
        background-color: var(--colorOne);
      }
    
      .dropdowns__displayNone:hover .dropdowns-content__displayNone {
        display: block;
      }
    @media (min-width: 927px) {
      display: none;
    }
    } 
  }
  .main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-height: 380px;
    width: 100%;
    

    &__left {
      order: 1;

      &__word {
        order: 1;
        color: var(--colorOne);
        font-family: var(--font-family-base);
        font-size: 1.5rem;
        padding-left: 60px;
        padding-top: 170px;

        @media (max-width: 768px) {
          order: 2;
          padding-top: 30px;
          padding-left: 20px;
          font-size: 1rem;
        }

        @media (max-width: 375px) {
          order: 2;
          padding-top: 30px;
          padding-left: 20px;
          font-size: 0.9rem;
        }
      }
      &__but {
        min-width: 336px;
        min-height: 56px;
        font-family: var(--font-family-base);
        font-size: 0.9rem;
        margin-left: 20px;

        @media (max-width: 375px) {
          min-width: 250px;
          min-height: 46px;
          font-family: var(--font-family-base);
          font-size: 0.9rem;
          margin-left: 50px;
        }

        @media (max-width: 700px) {
          margin-left: 80px;
        }

        @media (min-width: 375px) {
          margin-left: 20px;
        }

        &:hover {
          border: 2px solid var(--colorEight);
          color: var(--colorEight);
          background-color: var(--colorFive);
      }  

        &-sign {
          background-color: var(--colorEight);
          min-width: 336px;
          min-height: 56px;
          font-family: var(--font-family-base);
          font-size: 0.9rem;
          margin-left: 20px;

          @media (max-width: 375px) {
            min-width: 250px;
            min-height: 46px;
            font-family: var(--font-family-base);
            font-size: 0.9rem;
            margin-left: 50px;
          }

          @media (max-width: 700px) {
            margin-left: 80px;
          }

          @media (min-width: 375px) {
            margin-left: 20px;
          }

          &:hover {
            border: 2px solid var(--colorEight);
            color: var(--colorEight);
            background-color: var(--colorFive);
        }  
        }
      }
    }
    &__right {
      order: 2;
      position: relative;

      &__computer {
        display: flex;
        position: relative;
        top: 45%;
        left: 45%;
        min-width: 337px;
        height: auto;

        @media (max-width: 768px) {
          position: relative;
          top: 15%;
          left: 0%;
        }

        @media (max-width: 700px) {
          position: relative;
          top: 15%;
          left: 10%;
        }

        @media (max-width: 672px) {
          position: relative;
          top: 15%;
          left: 0%;
        }
      }
    }
    &__ticker {
      order: 3;
      flex: 0 0 100%;
      position: relative;
      margin-top: 10%;

      max-height: 25px;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      background-color: var(--colorEight);
      border: 1px solid var(--colorEight);
      
      @media (max-width: 768px) {
        position: relative;
        margin-top: 20%;
      }

      @media (max-width: 1090px) {
        position: relative;
        margin-top: 20%;
      }

      &__container {
        display: inline-block;
        padding-left: 100%;
        animation: ticker 10s linear infinite;
        
        &__item {
          display: inline-block;
          margin-right: 50px;
          color: var(--colorFive);
      
        }
      }
    
      @keyframes ticker {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
      }
    }
    &__grid {
      display: grid;
      flex-wrap: wrap;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      order: 4;
      margin-left: 10%;
      margin-top: 5%;
      gap: 5px 5px;

      @media (max-width:1168px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width:788px) {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 4%;
      }

      &__item {
        display: flex;
        flex-direction: column;
        position: relative;
        min-width: 346px;
        min-height: 151px;
        color: var(--colorOne);
        background-color: var(--colorNine);
        border: 1px solid var(--colorEleven);
        border-radius: 20px;
        font-family: var(--font-family-base);
        padding-left: 20px;
        padding-top: 40px;
        font-size: 0.9rem;
        transform: scale(1);
        transition: transform 0.3s ease;
        cursor: pointer;
        text-decoration: none;
        
        @media (max-width: 788px) {
          margin-left: 44%;
        }

        @media (max-width: 686px) {
          margin-left: 30%;
        }

        @media (max-width: 558px) {
          margin-left: 25%;
        }

        @media (max-width: 500px) {
          margin-left: 0;
        }

        &:hover {
          color: var(--colorEight);
        }

        &:hover &__foto {
          transform: scale(1.1);
        }

        &-text {
          color:var(--colorTen); 
          font-size: 0.8rem;
          font-family: var(--font-family-base);
        }
        &__foto {
          position: absolute;
          top: 5%;
          left: 65%;
          transition: transform 0.3s ease;
        }
      }
    }
    &__markets {
      color: var(--colorOne);
      order: 5;
      width: 100%;
      max-width: 1440px;
      margin-left: 90px;
      font-family: var(--font-family-base);
      padding-bottom: 100px;

      @media (max-width:753px) {
        margin-left: 10px;
      }

      h2 {
        max-width: 210px;
        max-height: 80px;
        font-size: 3.4rem;

        @media (max-width:753px) {
          font-size: 1.4rem;
        }
      }

      &__table__header {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        padding: 10px;
        color: var(--colorTen);

        @media (max-width:753px) {
          font-size: 0.8rem;
        }
      }
      &__table-row {
        display: grid;
        position: relative;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        padding: 10px;
        color: var(--colorOne);

        &__contract{
          position: relative;
          top: 0%;
          left: 8%;

          &::before {
          content: "";
          position: absolute;
          top: -20%;
          left: -8%;
          width: 36px;
          aspect-ratio: 1;

          @media (max-width: 1360px) {
            width: 24px;
            aspect-ratio: 1;
            top: -8%;
            left: -8%;
          }

          @media (max-width: 945px) {
            width: 14px;
            aspect-ratio: 1;
            top: 20%;
            left: -8%;
          }
          
          @media (max-width: 578px) {
            width: 10px;
            aspect-ratio: 1;
            top: 25%;
            left: -8%;
          }

          @media (max-width: 397px) {
            width: 10px;
            aspect-ratio: 1;
            top: 25%;
            left: -11%;
          }
        }

          &.n1::before {
            background: url('../icons/market1.png') center/contain no-repeat;
          }

          &.n2::before {
            background: url('../icons/market2.png') center/contain no-repeat;
          }

          &.n3::before {
            background: url('../icons/market3.png') center/contain no-repeat;
          }

          &.n4::before {
            background: url('../icons/market4.png') center/contain no-repeat;
          }

          &.n5::before {
            background: url('../icons/market5.png') center/contain no-repeat;
          }
        }

        @media (max-width:753px) {
          font-size: 0.8rem;
        }

        &negative {
          color: var(--colorThirteen);
        }
      }
      &__tabs {
        display: flex;
        align-items: center;
        position: relative;

        &__tab {
          color: var(--colorTen);
          background: none;
          border: none;
          font-family: var(--font-family-base);
          cursor: pointer;
          font-size: 1.5rem;
          transition: color 0.2s ease;

          @media (max-width:753px) {
            font-size: 0.8rem;
          }

          &:active {
            color: var(--colorOne);
            border-bottom: 3px solid var(--colorEight);
          }
        }
        &__tab:first-child {
          color: var(--colorOne) !important;
          border-bottom: 3px solid var(--colorEight);
        }

        &-button {
          background: none;
          border: none;
          color: var(--colorOne);
          cursor: pointer;
          font-family: var(--font-family-base);
          white-space: nowrap;
          margin-left: 89%;

          @media (max-width:1302px) {
            margin-left: 81%;
          }

          @media (max-width:763px) {
            display: none;
          }
        }

        &-m {
          text-decoration: none;
          color: var(--colorOne);
          transition: color;
          position: relative;

          &::after {
            content: ">";
            position: absolute;
            top: 0;
            left: 112%;
            width: 15px;
            aspect-ratio: 1;
          }

          &:hover {
            color: var(--colorEight);
          }
        }
        &hr {
          display: flex;
          width: 100%;
          margin-left: 0;
          max-width: 1440px;
          margin-top: -2px;
          background-color: var(--colorTen);
          color: var(--colorTen);
        }
      }
    }
    &__exchange {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      text-align: center;
      order: 7;
      color: var(--colorOne);
      font-size: 4rem;
      font-family: var(--font-family-base);
      width: 100%;
      background-color: var(--colorSix);

      @media (max-width: 901px) {
        font-size: 2rem;
      }

      @media (max-width: 500px) {
        font-size: 1.5rem;
      }

      @media (max-width: 375px) {
        font-size: 1rem;
      }
    }
    &__gridEx {
      order: 8;
      display: grid;
      flex-wrap: wrap;
      justify-items: center;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      width: 100%;
      margin-bottom: 100px;
      background-color: var(--colorSix);
      

      &__option {
        display: flex;
        margin-top: 200px;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        max-width: 273px;
        max-height: 406px;
        gap: 10px 10px;
        text-decoration: none;
        color: var(--colorOne);
        font-family: var(--font-family-base);
        font-size: 0.9rem;
        white-space: nowrap;
        position: relative;

        @media (max-width: 648px) {
          font-size: 0.6rem;
        }

        @media (max-width: 425px) {
          font-size: 0.4rem;
        }

        &::before {
          content: "";
          position: absolute;
          top: -420%;
          left: 37%;
          width: 58px;
          height: 58px;
          aspect-ratio: 1;

          @media (max-width: 679px) {
            width: 38px;
            height: 38px;
            aspect-ratio: 1;
          }

          @media (max-width: 425px) {
            width: 28px;
            height: 28px;
            aspect-ratio: 1;
        }
        }
        
        &.n1::before {
          background: url('../icons/exchange1.png') center/contain no-repeat;
        }

        &.n2::before {
          background: url('../icons/exchange2.png') center/contain no-repeat;
        }

        &.n3::before {
          background: url('../icons/exchange3.png') center/contain no-repeat;
        }

        &.n4::before {
          background: url('../icons/exchange4.png') center/contain no-repeat;
        }

        &.n5::before {
          background: url('../icons/exchange5.png') center/contain no-repeat;
        }

        &.n6::before {
          background: url('../icons/exchange6.png') center/contain no-repeat;
        }

        &.n7::before {
          background: url('../icons/exchange7.png') center/contain no-repeat;
        }

        &.n8::before {
          background: url('../icons/exchange8.png') center/contain no-repeat;
        }

        &-modification {
          display: flex;
          justify-items: center;
          align-items: center;
          text-align: center;
          color: var(--colorTen);
          font-size: 0.8rem;
          white-space: normal;
          max-width: 240px;
          max-height: 96px;

          @media (max-width: 648px) {
          font-size: 0.6rem;
          }

          @media (max-width: 425px) {
            font-size: 0.4rem;
          }
        }
      } 
    }
    &__spot {
      order: 9;
      display: grid;
      flex-wrap: wrap;
      grid-template-columns: repeat(3, 1fr);
      max-width: 1180px;
      max-height: 439px;
      width: 100%;
      justify-items: center;
      margin: 0 auto;
      gap: 20px;
      align-items: start;

      @media (max-width: 1081px) {
        gap: 5px;
      }
    }
    &__option {
      max-width: 378px;
      max-height: 358px;
      width: 100%;
      color: var(--colorTen);

      @media (max-width: 1081px) {
          font-size: 0.6rem;
        }
      
      @media (max-width: 462px) {
        font-size: 0.5rem;
      }

      & .word {
        font-size: 2.5rem;
        white-space: nowrap;
        color: var(--colorOne);
        font-family: var(--font-family-base);

        @media (max-width: 1081px) {
          font-size: 1.5rem;
        }

        @media (max-width: 469px) {
          font-size: 1rem;
        }
      }

      & .modification {
        color: var(--colorOne);
        font-family: var(--font-family-base);
      }

      & .button {
        display: flex;
        justify-content: flex-start;
        border: none;
        background-color: var(--colorFive);
        color: var(--colorOne);
        font-size: 1rem;
        margin-top: auto;
        font-family: var(--font-family-base);
      }
    }
    &__telephone {
      margin-top: 100px;
      order: 10;
      max-height: 672px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: var(--colorSix);

      &__trade {
        color: var(--colorOne);
        font-family: var(--font-family-base);
        font-size: 3.5rem;
        align-self: center;
        padding-left: 50px;

        @media (max-width: 1134px) {
          font-size: 2.5rem;
        }

        @media (max-width: 996px) {
          font-size: 1.5rem;
        }

        @media (max-width: 847px) {
          font-size: 1rem;
        }

        @media (max-width: 480px) {
          font-size: 0.9rem;
        }
      }

      &__tel {

        @media (max-width: 1134px) {
          width: 500px;
          height: auto;
        }

        @media (max-width: 996px) {
          width: 400px;
          height: auto;
        }

        @media (max-width: 736px) {
          width: 150px;
          height: auto;
        }

        @media (max-width: 480px) {
          width: 50px;
          height: auto;
        }
      }
    }
    &__leib {
      order: 11;
      flex: 0 0 100%;
      position: relative;
      margin-top: 10%;
      max-height: 128px;
      height: 100%;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      background-color: var(--colorSix);

      &__container {
        display: inline-flex;
        align-items: center;
        animation: ticker 25s linear infinite;
        
        &__item {
          flex: 0 0 auto;
          margin-right: 100px;

          @media (max-width: 800px) {
            width: 100px;
            height: auto;
          }
        }
      }
      @keyframes ticker {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
      }
    }
    &__faq {
      order: 12;
      width: 100%;
      margin-top: 50px;
      padding: 1rem;
      box-sizing: border-box;

      &__mod {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--colorOne);
        font-family: var(--font-family-base);
        font-size: 2rem;
      
        &-more {
          font-size: 0.9rem;
          text-decoration: none;
          color: var(--colorOne);
          transition: color;
          margin-right: 10px;
          align-items: center;
          position: relative;

          &:hover {
            color: var(--colorEight);
          }

          &::after {
            content: ">";
            position: absolute;
            top: 0%;
            left: 120%;
            width: 10px;
            aspect-ratio: 1;
            color: var(--colorOne);
            transition: color;
            
          &::after :hover {
            color: var(--colorEight);
          }
          }
        }
      }
      h2 {
        margin-bottom: 1rem;
      }

      .faq-item {
        border-bottom: 1px solid #333;
        padding: 0.5rem 0;
      }

      .submenu-toggle {
        display: none;
      }

      .faq-question {
        display: block;
        position: relative;
        padding: 0.5rem 2rem 0.5rem 0;
        cursor: pointer;
        font-size: 1rem;
        color: var(--colorOne);
        font-family: var(--font-family-base);
        transition: color;

        &:hover {
          color: var(--colorEight);
        }

        &::after {
          content: ">";
          position: absolute;
          right: 1rem;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.2rem;
          color: var(--colorOne);
        }
      }

      .submenu {
        list-style: none;
        padding-left: 1rem;
        display: none;

        li {
          margin: 0.3rem 0;

          a {
            color: var(--colorOne);
            text-decoration: none;
          }
        }
      }

      .submenu-toggle:checked + .faq-question {
        &::after {
          content: "<";
        }

        + .submenu {
          display: block;
        }
      }
    }
  }
}
